@font-face {
    font-family: "IBMPlexSans";
    font-display: swap;
    src: url('../font/IBMPlexSans-Regular.ttf') format("truetype");
}
@font-face {
    font-family: "IBMPlexMono";
    font-display: swap;
    src: url('../font/IBMPlexMono-Regular.ttf') format("truetype");
}
@font-face {
    font-family: "IBMPlexSans_Semibold";
    font-display: swap;
    src: url('../font/IBMPlexSans-SemiBold.ttf') format("truetype");
}