//variables para fuentes 
$fontfamilySans:'IBMPlexSans';
$fontfamilyMono:'IBMPlexMono';
$fontfamilySansSemibold:'IBMPlexSans_Semibold';


//variables para colores
$colorUno: #0000FF;
$colorUnoOscuro: #0000A3;
$colorDos: #00F3BB;
$colorTextoUno: #060A24;
$colorTextoDos: #fff;



