@font-face {
  font-family: "IBMPlexSans";
  font-display: swap;
  src: url("../font/IBMPlexSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "IBMPlexMono";
  font-display: swap;
  src: url("../font/IBMPlexMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "IBMPlexSans_Semibold";
  font-display: swap;
  src: url("../font/IBMPlexSans-SemiBold.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

h1, h2 {
  font-family: "IBMPlexSans";
  font-size: 48px;
  line-height: 42px;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0 auto;
  letter-spacing: 0;
  font-weight: normal;
}

p {
  font-family: "IBMPlexMono";
  font-size: 16px;
  line-height: 22px;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.btn_contenedor {
  padding: 0 5%;
}

.btn_contenedor .btn {
  font-family: "IBMPlexMono";
  font-size: 16px;
  background: #00F3BB;
  padding: 13px 0;
  text-align: center;
}

.btn_contenedor .btn a {
  text-decoration: none;
  color: #060A24;
}

.btn_contenedor .btn a:active {
  color: #fff;
}

.btn_contenedor .btn a:hover {
  color: #fff;
}

.btn_contenedor .btn:hover {
  background-image: linear-gradient(225deg, #0000FF 0%, #00F3BB 100%);
}

img {
  vertical-align: top;
}

header {
  z-index: 2;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 0.8%;
  padding: 10px 5%;
  background: #fff;
  -webkit-box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.3);
}

header img {
  height: 24px;
}

header nav ul {
  position: absolute;
  top: 44px;
  overflow: hidden;
  height: 0px;
  -webkit-transition: height 0.5s ease;
  transition: height 0.5s ease;
  right: 0;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #0000FF;
  width: 100%;
}

header nav ul li {
  position: relative;
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-family: "IBMPlexMono";
  font-size: 16px;
  padding: 16px;
  line-height: 29px;
  display: block;
  position: relative;
}

input[type="checkbox"]:checked ~ ul {
  height: 240px;
  transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  -webkit-transition: height 0.5s ease-in-out;
}

.menu {
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  padding-top: 3px;
}

.menu input {
  display: block;
  width: 40px;
  height: 32px;
  opacity: 0;
  -webkit-touch-callout: none;
  position: absolute;
}

.menu span {
  display: block;
  width: 25px;
  height: 3px;
  margin-bottom: 4px;
  position: relative;
  background: #060A24;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 3px 0px;
          transform-origin: 3px 0px;
  -webkit-transition: opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.menu span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.menu span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.menu input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(2px, 1px);
          transform: rotate(45deg) translate(2px, 1px);
}

.menu input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

.menu input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(-1px, 3px);
          transform: rotate(-45deg) translate(-1px, 3px);
}

#entrevistas {
  padding-top: 50px;
  margin-top: -50px;
  background-clip: content-box;
}

#somos {
  padding-top: 30px;
  margin-top: -20px;
  background-clip: content-box;
}

#topicos {
  padding-top: 10px;
  margin-top: -10px;
  background-clip: content-box;
}

.titulo {
  height: 5.6%;
  padding-top: 44px;
  margin-bottom: 40px;
}

.titulo h1 {
  margin-top: 30px;
}

.titulo h1 .titulo_inicio {
  display: block;
}

.titulo h1 .titulo_medio {
  text-decoration: line-through;
}

.titulo h1 .titulo_final {
  color: #0000FF;
}

.titulo p {
  display: inline-block;
  margin-top: 16px;
  margin-bottom: 36px;
}

.episodios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.episodios .audios {
  position: absolute;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-transform: skewY(-6deg);
          transform: skewY(-6deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  height: 800px;
  width: 100%;
}

.episodios h2 {
  color: #fff;
  position: relative;
  z-index: 1;
  margin-top: 64px;
  margin-bottom: 24px;
}

.episodios .audio {
  z-index: 1;
}

.episodios .audio iframe {
  width: 93%;
  height: 225px;
  display: block;
  margin: auto;
  margin-bottom: -30px;
  border: 0;
  background-color: transparent;
}

.somos {
  margin-top: 176px;
  margin-bottom: 30px;
}

.somos .txt {
  position: relative;
}

.somos img {
  width: 100%;
  height: auto;
  z-index: 1;
  position: relative;
}

.somos h2 {
  margin-top: 30px;
  margin-bottom: 8px;
}

.somos h2 span {
  display: block;
}

.entrevistas h2 {
  margin-bottom: 14px;
}

.entrevistas img {
  width: 100%;
  height: auto;
}

.topicos {
  margin-bottom: 16px;
}

.topicos h2 {
  margin-top: 48px;
  margin-bottom: 36px;
}

.topicos div {
  text-align: center;
  margin-bottom: 64px;
}

.topicos div img {
  margin-bottom: 13px;
}

.topicos div p {
  font-family: "IBMPlexSans_Semibold";
  font-size: 16px;
  line-height: 32px;
  color: #060A24;
}

.novedades {
  overflow: hidden;
  position: relative;
  height: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.novedades .novedad {
  position: absolute;
  top: 10%;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  height: 100%;
  -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg);
  width: 100%;
}

.novedades h2 {
  color: #fff;
  z-index: 1;
  text-align: center;
  width: 90%;
  margin-bottom: 36px;
}

.novedades .btn_contenedor {
  z-index: 1;
  text-align: center;
}

footer {
  position: relative;
  text-align: center;
}

footer p {
  margin: 24px auto 16px auto;
}

footer .social {
  font-size: 16px;
  line-height: 28px;
  width: 28px;
  margin-left: 70%;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .social a {
  text-decoration: none;
  color: #060A24;
}

footer .social a:hover {
  text-decoration: none;
  color: #00F3BB;
}

@media screen and (min-width: 400px) {
  html {
    font-size: 20px;
  }
  .menu {
    padding-top: 10px;
  }
  input[type=checkbox]:checked ~ ul {
    height: 268px;
  }
  .episodios {
    min-height: 500px;
  }
  .episodios .audios {
    min-height: 500px;
  }
  .episodios .audio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .episodios .audio iframe {
    width: 45%;
    display: block;
    margin: auto;
    margin-bottom: -30px;
    border: 0;
    background-color: transparent;
  }
  .titulo {
    padding-top: 94px;
  }
  .titulo h1 .titulo_inicio {
    display: inline;
  }
  .titulo .btn_contenedor {
    padding: 0 0 0 5%;
  }
  .titulo .btn_contenedor .btn {
    display: inline-block;
    padding: 16px 59px;
  }
  .somos {
    min-height: 400px;
    margin-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .somos img {
    width: 32%;
    height: auto;
  }
  .somos .txt {
    width: 65%;
  }
  .somos .txt h2 {
    margin-top: 48px;
    margin-bottom: 8px;
  }
  .somos .txt h2 span {
    display: inline-block;
  }
  .entrevistas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .entrevistas img {
    width: 50%;
    height: auto;
    margin: 0;
  }
  .topicos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin-bottom: 0;
    padding: 0 5%;
  }
  .topicos h2 {
    width: 100%;
    padding: 0;
    margin-bottom: 55px;
  }
  .topicos div {
    width: 25%;
    margin-bottom: 32px;
  }
  .topicos div img {
    margin-bottom: 20px;
  }
  .topicos div p {
    font-size: 13px;
    line-height: 20px;
  }
  .novedades {
    overflow: hidden;
    position: relative;
    min-height: 441px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .novedades .btn_contenedor {
    margin: 0 auto;
  }
  .novedades .btn_contenedor .btn {
    display: inline-block;
    padding: 16px 59px;
  }
  footer {
    width: 100%;
    min-height: 100px;
    height: 99px;
    position: relative;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer p {
    width: 45%;
    margin: 0;
    display: inline-block;
  }
  footer .social {
    width: 45%;
    margin: 0;
    padding-right: 5%;
  }
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 52px;
    line-height: 67px;
    padding-left: 14%;
    padding-right: 14%;
  }
  h2 {
    font-size: 38px;
    line-height: 49px;
    padding-left: 14%;
    padding-right: 14%;
  }
  p {
    font-size: 13px;
    line-height: 20px;
    padding-left: 14%;
  }
  .btn {
    font-size: 14px;
    line-height: 20px;
  }
  header {
    position: relative;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding-left: 7%;
  }
  header img {
    height: 29px;
  }
  header nav ul {
    height: 80px;
    position: absolute;
    top: 0;
    right: 7%;
    max-height: 100%;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: #fff;
    width: auto;
  }
  header nav ul li a {
    text-decoration: none;
    color: #060A24;
    font-family: "IBMPlexMono";
    font-size: 13px;
    line-height: 22px;
    padding: 16px;
  }
  header nav ul li a:hover {
    color: #00F3BB;
  }
  .menu input {
    display: none;
  }
  .menu span {
    display: none;
  }
  .titulo p {
    width: 60%;
    padding: 0 0 0 14%;
  }
  .titulo .btn_contenedor {
    padding: 0 0 0 14%;
    display: block;
  }
  .episodios {
    min-height: 700px;
  }
  .episodios .audios {
    min-height: 700px;
  }
  .episodios .audio {
    padding: 0 6%;
  }
  .episodios .audio iframe {
    width: 45%;
    border: 0;
    background-color: transparent;
  }
  .somos {
    padding: 0 17% 0 14%;
  }
  .somos img {
    position: relative;
    top: -64px;
    margin-right: 56px;
  }
  .somos .txt {
    width: 55%;
  }
  .somos .txt h2 {
    margin-bottom: 20px;
    padding: 0;
  }
  .somos .txt p {
    padding: 0;
  }
  .entrevistas img {
    width: 33.3333%;
    height: auto;
  }
  .topicos {
    padding: 0 14%;
  }
  footer {
    min-height: 100px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: left;
  }
  footer p {
    width: 45%;
    margin: 0;
    display: inline-block;
    padding-left: 7%;
  }
  footer .social {
    width: 30%;
    margin: 0;
    padding-right: 7%;
  }
}

@media screen and (min-width: 1800px) {
  body {
    max-width: 60%;
    margin: 0 auto;
  }
  p {
    padding-left: 14%;
  }
  header {
    margin-top: 16px;
    min-width: 100px;
  }
  header nav ul li a {
    font-size: 16px;
  }
  .episodios {
    min-height: 700px;
  }
  .episodios .audios {
    position: absolute;
    max-width: 60%;
    margin: 0 auto;
    min-height: 700px;
  }
  .somos img {
    position: relative;
    top: 0;
  }
  .somos .txt {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .novedades {
    min-height: 500px;
  }
  .novedades .novedad {
    top: 17%;
  }
  footer {
    margin-bottom: 16px;
    margin-top: 16px;
  }
}
/*# sourceMappingURL=style.css.map */